<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Flights</h1>
    <table>
      <th>Departures
        <tr>Departure</tr>
        <tr>Destination</tr>
        <tr>Airline</tr>
        <tr>Flight #</tr>
      </th>

    </table>
    
  </body>
</html>
